.groupMember{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 15px;
}

.groupMember:hover{
    background-color: lightgray;
}

.groupMemberImgContainer{
    position: relative;
    margin-right: 10px;
}
.groupMemberImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.groupMemberOnlineBadge{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 0px;
    background-color: lime;


}